* {
    box-sizing: border-box;
}

header {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url("audio-mixer.jpg");
    background-size: cover;
    background-position-y: bottom;
    padding-top: 60px;
    padding-bottom: 60px;
}

.title {
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    border: 15px solid rgba(255, 255, 255, 0.87);
    border-radius: 30px;
    width: 500px;
    margin: 0 auto;
}

